<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <div>
            <a id="app-name" class="navbar-brand" href="/products">COSMO-MANGO</a>
            <img id="mango-image" src="./images/mango.png"></img>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            </ul>
            <a class="d-flex" href="/buy">
                <button id="btn-cart" class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Carrito
                    <span id="cart-amount-color" class="badge ms-1 rounded-pill"></span>
                </button>
            </a>
        </div>
    </div>
</nav>