<div id="search" class="card mb-0 mt-5 w-50 bg-light">
    <div class="card-body p-4 d-flex flex-fill align-items-center gap-4">
        <label class="form-label"><b>Buscar</b></label>
        <input type="text" class="form-control form-control-lg" onkeyup="search(this.value)">
    </div>
</div>