<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Se inyecta el head -->
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <header>
        <!-- Se inyecta el header -->
        <%- include('./partials/header.ejs') %>
    </header>

    <footer>
        <!-- Se inyecta el footer -->
        <%- include('./partials/footer.ejs') %>
    </footer>
</body>

</html>